body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    height: 3600px;
}

.canvas {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1903px;
    min-width: 1903px;
    flex-wrap: wrap;
}

.square {
    width: 26px;
    height: 26px;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000000;
    transition: 1.5s ease;
}

.square:hover {
    transition-duration: 0s;
}

.home {
    position: absolute;
    color: rgb(208, 208, 208);
    width: 800px;
    height: 300px;
    top: 33%;
    left: 30%;
    backdrop-filter: blur(2.5px);
    box-shadow: 0px 0px 20px 10px #000000ae;
    border-radius: 15%;
}

.mainText {
    margin-left: 220px;
    margin-top: 60px;
}

.hi {
    margin-left: 85px;
}

.name {
    color: rgb(255, 38, 81);
}

.lookWork {
    margin-left: 304px;
    display: block;
    width: 180px;
    height: 25px;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 0px 20px 15px;
    border: 1px solid rgb(208, 208, 208);
    background-color: rgba(102, 51, 153, 0);
    color: rgb(208, 208, 208);
    transition: 0.6s;
    border-radius: 5px;
}

.lookWork:hover {
    border: 1px solid rgb(255, 38, 81);
    background-color: rgb(255, 38, 81);
    box-shadow: 0 0 30px 1px rgb(255, 38, 81);
}

.arrow {
    margin-left: 10px;
    width: 25px;
    transition: 0.4s;
}

.lookWork:hover .arrow {
    transform: rotate(90deg)
}

.about {
    color: #414141;
}

.txtAbout {
    width: 160px;
    padding: 100px 0 0 0;
    margin: auto;
}

.webFun {
    position: relative;
    top: -200px;
    display: flex;
    justify-content: space-between;
}

.txtFunExp {
    width: 480px;
    font-style: italic;
    font-size: 15px;
    position: relative;
    top: -300px;
    left: 825px;
    color: rgb(127, 104, 45);
}

.txtFun {
    position: relative;
    top: -200px;
    width: 200px;
    margin: auto;
}

.fun {
    box-shadow: inset -8px -10px 30px 3px #e5e5e5;
    width: 499px;
    height: 342px;
}

.fun:hover .webElem1 {
    margin: 50px 11px 0 11px;
    box-shadow: 0 10px 15px 1px #686767;
}

.fun:not(:hover) .webElem1 {
    margin: 60px 11px;
}

.fun:hover .webElem2 {
    margin: 50px 11px 0 11px;
    box-shadow: 0 10px 15px 1px #686767;
}

.fun:not(:hover) .webElem2 {
    margin: 60px 11px;
}

.fun:hover .webElem3 {
    margin: 50px 11px 0 11px;
    box-shadow: 0 10px 15px 1px #686767;
}

.fun:not(:hover) .webElem3 {
    margin: 60px 11px;
}

.fun:hover .webElem4 {
    margin: 50px 11px 0 11px;
    box-shadow: 0 10px 15px 1px #686767;
}

.fun:not(:hover) .webElem4 {
    margin: 60px 11px;
}

.webElem1 {
    margin: 60px 11px;
    border-radius: 50em;
    width: 450px;
    transition: 0.5s;
}

.webElem2 {
    margin: 60px 11px;
    border-radius: 50em;
    width: 450px;
    transition: 0.5s;
}

.webElem3 {
    margin: 60px 11px;
    border-radius: 50em;
    width: 450px;
    transition: 0.5s;
}

.webElem4 {
    margin: 60px 11px;
    border-radius: 50em;
    width: 450px;
    transition: 0.5s;
}

.informMe {
    position: relative;
    top: 100px;
    width: 1600px;
}

.informMe h3 {
    margin-left: 230px;
}

.informMe p {
    width: 500px;
    font-size: 21px;
    text-align: center;
    margin: 0;
    padding-left: 60px;
}

.informMe p a {
    color: rgb(0, 116, 170);
    text-decoration: none;
}

.meFoto {
    width: 600px;
}

.columns {
    display: flex;
    position: relative;
    width: 800px;
    left: 60%;
    width: 600px;
}

.percent {
    width: 40px;
    height: 500px;
    background-color: #d0d0d0;
    margin: 0 30px;
}

.tools {
    display: flex;
    position: relative;
    left: 60.6%;
    width: 40px;
}

.tool {
    margin: 0 35px;
    color: #785000;
}

.re {
    position: relative;
    left: 7px;
}

.no {
    position: relative;
    left: -16px;
}

.fool {
    background-color: #d59b28;
    position: relative;
    bottom: -100px;
}

.eight {
    height: 350px;
    bottom: -150px;
}

.five {
    height: 250px;
    bottom: -250px;
}

.three {
    height: 150px;
    bottom: -350px;
}

.nine {
    height: 400px;
}

.precentages {
    position: relative;
    top: -560px;
    width: 10px;
}

.counts {
    display: flex;
    position: relative;
    left: 60%;
    top: -500px;
    width: 400px;
}

.count {
    color: #785000;
    margin: 0 31.2px;
    font-size: 20px;
}

.linkProj {
    position: relative;
    top: 150px;
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.linkProj a {
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 71, 108);
    transition: 0.5s;
    border: rgb(255, 71, 108) 2px solid;
}

.linkBox {
    opacity: 0;
    position: relative;
    top: -60px;
    left: 250px;
    width: 160px;
    transition: 0.5s;
}

.linkProj a:hover {
    top: -100px;
    background-color: rgb(255, 71, 108);
    color: whitesmoke;
    box-shadow: 0 0 20px 1px rgba(255, 71, 108, 0.885);
}

.imgBox {
    margin: 10px 10px;
}

.box {
    align-items: center;
    margin: 10px 0;
    height: 282px;
    width: 630px;
}

.box:hover .linkBox {
    opacity: 1;
    top: -100px;
}

.box:hover a {
    opacity: 1;
}

.box a:hover {
    border: rgb(255, 71, 108) 2px solid;
    color: whitesmoke;
    background-color: rgb(255, 71, 108);
    box-shadow: 0 0 20px 1px rgba(255, 71, 108, 0.885);
}

.proj {
    width: 600px;
}

.sort {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
}

.sort h3 {
    font-size: 20px;
    margin: 0 95px;
}

.txtProj {
    position: relative;
    top: 100px;
    width: 100px;
    margin: auto;
}

.links {
    position: relative;
    top: 90px;
    left: 560px;
    width: 1000px;
}

.links img {
    width: 100px;
    margin: 0 90px;
}

.contacts {
    position: relative;
    background: rgb(201, 201, 201);
    background: linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(233, 233, 233, 1) 100%);
    top: -530px;
    height: 350px;
}

.contacts h1 {
    width: 100px;
    margin: auto;
}

.contacts p {
    position: relative;
    bottom: -40%;
    left: 820px;
    width: 300px;
}

.contacts p a {
    text-decoration: none;
    color: rgb(0, 116, 170);
}

.projects {
    position: relative;
    top: -220px;
    background-color: #e9e9e9;
    height: 1200px;
}

.head {
    z-index: 2;
    position: sticky;
    top: 0px;
    background-color: #222222;
    padding: 15px 0 15px 360px;
    transition: 1s;
}

.head a {
    color: rgb(208, 208, 208);
    text-decoration: none;
    margin: 0 30px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.head a:hover {
    color: rgb(255, 72, 108);
}

.element-animationLeft {
    opacity: 0;
    left: 100px;
}

.element-animationLeft.element-show {
    opacity: 1;
    left: 300px;
    transition: all 1s;
}

.element-animationRight {
    left: 1200px;
    opacity: 0;
}

.element-animationRight.element-showRight {
    left: 1100px;
    opacity: 1;
    transition: all 1s;
}

.element-animationOpasiti {
    opacity: 0;
}

.element-animationOpasiti.element-showOpasiti {
    opacity: 1;
    transition: ease-in-out 1.5s;
}

.choise {
    position: absolute;
    display: flex;
    top: 900px;
    left: 1500px;
    width: 300px;
}

.around {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 20px;
}

.ellow {
    background: linear-gradient(66deg, rgb(255, 128, 0) 0%, rgb(251, 255, 0) 100%);
}

.green {
    background: linear-gradient(241deg, rgba(0, 255, 171) 0%, rgb(77, 255, 0) 100%);
}

.blue {
    background: linear-gradient(57deg, rgb(0, 4, 255) 0%, rgb(132, 0, 255) 100%);
}

.red {
    background: linear-gradient(34deg, rgba(255, 0, 0, 1) 0%, rgb(253, 45, 218) 100%);
}

.br {
    border: 2.7px solid rgb(255, 255, 255);
}